// VARIABLES
// Colours
$darkblue: #4056a1;
$darkbluefade: rgba(94, 118, 197, 0.5);
$lightblue: #5aa9e6;
$coral: #e86252;
$black: #545149;
$lightblack: #696f80;
$offwhite: #f4f1ec;
$white: rgb(241, 241, 241);
$danger: #e44d3a;

// Fonts
$font-title: 'Bungee', cursive;
$font-body: 'Source Sans Pro', sans-serif;

// MIXINS
// column flex center
@mixin flex-center-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
