@use '_variables' as *;

.page-header {
  @include flex-center-col();
  height: 400px;
  background-color: $lightblue;
  background-image: url(../images/asfalt-light.png);
  margin: 0;

  h2 {
    margin: 0;
    color: $white;
  }
}

/* Mobile & Tablet - Responsive */
@media only screen and (max-width: 1023px) {
  .page-header {
    min-height: 30vh;

    img {
      min-height: 20vh;
      width: auto;
    }
  }
}

/* Desktop - Responsive */
@media only screen and (min-width: 1024px) {
  .page-header {
    width: 500px;
    margin-right: 7rem;
  }
}
