@use '_variables' as *;

nav {
  height: 120px;
  width: 100%;
  background-color: $darkblue;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;
  z-index: 10;
  position: sticky;
  top: 0;

  span {
    font-family: $font-title;
    font-size: 2em;
  }

  #nav-container {
    @include flex-center-col();
    justify-content: flex-start;

    #compose-btn {
      border: none;
      background-color: transparent;
      color: $white;
      padding: 15px 20px;

      &:hover {
        cursor: pointer;
        color: $coral;
      }
    }

    i {
      color: $white;
    }
  }
}

/* down arrow animation */
.fa-angle-double-down {
  animation: MoveUpDown 1s linear infinite;
  position: absolute;
}

@keyframes MoveUpDown {
  0%,
  100% {
    bottom: 0;
  }
  50% {
    bottom: 5px;
  }
}

/* Mobile & Tablet - Responsive */
@media only screen and (max-width: 1023px) {
  nav {
    background-color: $lightblue;
    background-image: url(../images/asfalt-light.png);
  }
}

@media only screen and (max-width: 540px) {
  nav {
    padding: 1rem;
    height: 100px;
    span {
      font-size: 1.5em;
    }
    #nav-container {
      #compose-btn {
        padding: 0 20px;
      }
      p {
        text-align: center;
      }
    }
  }
}
