@use '_variables' as *;

#tweets-container {
  @include flex-center-col();
  width: 100%;
}

.single-tweet {
  @include flex-center-col();
  align-items: flex-start;
  font-weight: 400;
  width: 100%;
  border: 3px solid $black;
  padding: 1em;
  margin: 1em 0;

  &:hover {
    box-shadow: 5px 10px $darkbluefade;
    transition: 0.3s ease-in-out;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 0.2em;
    margin-bottom: 1em;

    .user {
      display: flex;
      align-items: center;
      width: 100%;

      h4 {
        font-weight: 300;
        margin-left: 10px;
      }
    }

    .user-tag {
      color: $lightblack;
      opacity: 0.5;
      margin-top: 0;
    }
  }

  // source: https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/
  .user-tweet {
    padding: 0 1em;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 3px solid $black;
    width: 100%;
    font-weight: 300;
    font-size: 0.6em;
    padding: 0 1em;

    p {
      margin-bottom: 0;
    }

    i {
      color: $darkblue;
      margin-left: 0.4em;
      margin-bottom: 0;
      &:hover {
        color: $coral;
        transition: 0.2s ease-in;
        cursor: pointer;
      }
    }
  }
}
