.page-header {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #5aa9e6;
  background-image: url(../images/asfalt-light.png);
  margin: 0;
}

.page-header h2 {
  margin: 0;
  color: white;
}

/* Tablet - Responsive */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .page-header {
    min-height: 30vh;
  }

  .page-header img {
    min-height: 20vh;
    width: auto;
  }
}

/* Desktop - Responsive */
@media only screen and (min-width: 1024px) {
  .page-header {
    width: 500px;
    margin-right: 7rem;
  }
}
