nav {
  height: 120px;
  width: 100%;
  background-color: #4056a1;
  color: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;
  z-index: 10;
  position: sticky;
  top: 0;
}
nav span {
  font-family: "Bungee", cursive;
  font-size: 2em;
}
nav #nav-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
}
nav #nav-container #compose-btn {
  border: none;
  background-color: transparent;
  color: #f1f1f1;
  padding: 15px 20px;
}
nav #nav-container #compose-btn:hover {
  cursor: pointer;
  color: #e86252;
}
nav #nav-container i {
  color: #f1f1f1;
}

/* down arrow animation */
.fa-angle-double-down {
  animation: MoveUpDown 1s linear infinite;
  position: absolute;
}

@keyframes MoveUpDown {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 5px;
  }
}
/* Mobile & Tablet - Responsive */
@media only screen and (max-width: 1023px) {
  nav {
    background-color: #5aa9e6;
    background-image: url(../images/asfalt-light.png);
  }
}
@media only screen and (max-width: 540px) {
  nav {
    padding: 1rem;
    height: 100px;
  }
  nav span {
    font-size: 1.5em;
  }
  nav #nav-container #compose-btn {
    padding: 0 20px;
  }
  nav #nav-container p {
    text-align: center;
  }
}
