nav {
  height: 120px;
  width: 100%;
  background-color: #4056a1;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;
  z-index: 10;
  position: sticky;
  top: 0;
}

span {
  font-family: 'Bungee', cursive;
  font-size: 2em;
}

#nav-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#nav-container #compose-btn {
  border: 3px solid white;
  background-color: transparent;
  color: white;
  padding: 15px 20px;
  margin-bottom: 10px;
}

#nav-container #compose-btn:hover {
  cursor: pointer;
  background-color: #314688;
}

#nav-container i {
  /* color: #e86252; */
  color: white;
}

/* down arrow animation */
.fa-angle-double-down {
  animation: MoveUpDown 1s linear infinite;
  position: absolute;
}

@keyframes MoveUpDown {
  0%,
  100% {
    bottom: 0;
  }
  50% {
    bottom: 5px;
  }
}

/* Tablet - Responsive */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  nav {
    background-color: transparent;
  }
}
